<%- include("../partials/header") %>
<div class="container mt-5">
    <div class="container jumbotron">    
<h1>Currently no doctors available in your area</h1>
<p>We are expanding Medi-Lab, Thanks for choosing us.</p>
<a class="btn btn-sm btn-info" href="/info">Go back</a>
</div>    
</div>
    <%- include("../partials/footer") %>

