
<%- include ("../partials/header") %>
<div class="container">

    <div class="jumbotron text-center" style="background-color: black; color:aliceblue;">
        <h1><span class="fa fa-lock"></span> Welcome! </h1>
        <h5>Find out the best medical Services Nearby!</h5>
        <p>Login or Register here with:</p>

        <!-- <a href="/google" class="btn btn-success"><i class="fa fa-google" aria-hidden="true"></i>Google</a> -->
        <a href="/google" class="btn btn-success">Google</a>

    </div>

</div>
    <%- include("../partials/footer") %>
</div>

